
html {
    background-color: rgb(242, 242, 242);
    font-size: calc(10px + 0.390625vw);/*  responsive font size */
}
body {
    font-family: "Segoe UI" ,"Helvetica", sans-serif;
    margin: 0;
}
img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}
h3,h4, .text-large {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
h1, h2, h3, h5 {
    font-weight: bold;
}


/* desktop */
:root {
    --side-width: 7rem;
    --nav-font-size: 1.1rem;
    --nav-height: 3rem;
    --profile-img-size: 22rem;
    --profile-avatar: 9.3rem;
    --profile-title: 3.125rem;
}
/* tablet */
@media (max-width:1024px) {
    :root {
        --side-width: 3rem;
        --profile-img-size: 19rem;
    }
}
/* mobile */
@media (max-width:768px) {
    :root {
        --side-width: 1rem;
        --nav-font-size: 1.3rem;
        --nav-height: 4rem;
        --profile-img-size: 15rem;
        --profile-avatar: 7rem;
        --profile-title: 2.5rem;
    }
}




/**
    Main Layout
 **/
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-nav {
    /**background-color: red;*/
    height: var(--nav-height);
    font-size: var(--nav-font-size);
    background-color: rgb(255, 255, 255);
    display: flex;
}
.layout-content {
    /*background-color: blue;*/
    padding: 1rem var(--side-width) ;
}
.layout-footer {
    margin-top: auto; /* forces footer to bottom. needs flexbox for some reason*/
    background-color: #f2f2f2;
    height: 4rem;
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    align-items: center;
}

.heading {
    font-size: 2.5rem;
    margin-top: 1.875rem;
    border-bottom: 1px solid #bfbfbf;
    color: #105e10;
    text-align: center;
}



/**
    Navigation Layout
    .layout-nav
*/
.nav-item > a {
    text-decoration: none ;
    color: black;
}
.nav-item {
    /**font-size: 1.1rem;*/
    align-self: center;
    padding: 0 0.8rem;
}
#nav-logo {
    height: var(--nav-height);
}
.nav-highlight > a {
    color: rgb(1, 124, 55);
}


/** 
    Thread Layout 
*/
.thread-container {
    min-height: 30rem;
    margin: auto var(--side-width);
    display: grid;
    grid-template-columns: 1fr 10rem 10rem auto auto;
    align-content: start;
}
.thread-item {
    height: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: calc(1rem / 2);
    border-bottom: 1px solid #d1d4d6;
}
.thread-item-title{
    overflow: hidden;
    border-left: 1px solid #d1d4d6;
}
.thread-item-title > a {
    font-weight: bold;
}

@media (max-width:1200px) {
    .thread-container{
        grid-template-columns: 1fr 10rem 4rem 4rem;
    }
    .thread-item-board{
        display: none;
    }
}
@media (max-width:768px) {
    .thread-container{
        grid-template-columns: 1fr 4rem 4rem;
    }
    .thread-item-board,.thread-item-author{
        display: none;
    }
}


.thread-container > span:not(div:last-child) {
    border-right: 1px solid #d1d4d6;
}

.thread-odd {
    background-color: #ecedee;
}
.thread-even {
}


.thread-item > a{
    color: black;
    text-decoration: none;
}
.thread-header {
    font-weight: bold;
    border-top: 1px solid #d1d4d6;
}



/**
    Posts Layout
*/

.post-container {
    margin: auto var(--side-width);
    display: flex;
    flex-direction: column;
}

.post-item {
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border-radius: calc(1rem/4);
    background-color: white;
    font-size: 1.0rem;
}

/*@media(max-width: 768px){
    .post-item{

        font-size: 1.1rem;
    }
}*/

.post-deleted {
    background-color: #ff000014;
}

.post-no {
    color: rgb(1, 124, 55);
}

.post-creator{
    color: #999999;
    margin-left: 0.4rem;
    margin-right: auto;
    /*font-weight: 500;*/
}
.post-title {
    display: flex;
    align-items: center;
}
.post-edited{
    background-color: #017c378a;
    color: white;
    padding: 0.05rem;
    display: inline-block;
    width: 3em;
    text-align: center;
    border-radius: 2px;
    font-size: 0.8rem;
}
.post-item a {
    color: #017c37;
    text-decoration: none;
}

.post-thread {
    font-weight: bold;
    padding-bottom: 3px;
    font-size: 1.2rem;
}



/* quotes */
.post-item div[data-embed-type="message-quote"] div[data-embed-type="message-quote-content"] {
    border-left: 1px solid #cccfd1;
    margin: 0.6rem 0 0.6rem 1.5rem; /* indent for quote */
    padding: 0 0 0 0.6rem;
    overflow: hidden;
}
.post-item blockquote {
    /* special quotes */
    font-family: -apple-system,".SFNSText-Regular",BlinkMacSystemFont,"San Francisco","Roboto","Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Lucida Grande",sans-serif;
    padding: 0.6rem 1.25rem;
    margin: 0 0 1.24rem;
    border-left: 2px solid rgba(0,0,0,0.05);
    background-image: none;
    opacity: .75;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

/** blog **/
.poll-header {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
}
.poll-header > h3 {
    font-size: 1.7rem; /* font size of poll's title*/
}
.poll > .number {
    font-size: 1.2rem; /* font size of poll entry */
    font-weight: 500;
    padding-left: 0.2rem;
    margin-bottom: 0.2rem;
}

.post-item symbol {
    fill: currentColor;
    position: relative;
    top: -1px;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

.poll-header span {
    color: #198f19;
}
.progress {
    overflow: hidden;
    height: 0.87rem;
    padding: 2px;
    margin-bottom: 1.125rem;
    border-radius: 0.625rem;
    box-sizing: content-box;
    background-color: #3d4043;
    background-image: linear-gradient(#303336,rgba(61,64,67,0));
    background-repeat: repeat-x;
}
.progress .bar {
    width: 0;
    height: 0.875rem;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    background: #21ba21;
    border-radius: 0.625rem;
    transition: width 0.6s ease;
}

.post-item figure[data-size="large"] {
    clear: both;
    max-width: 100%;
}
.post-item [data-align="center"] {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.post-content h2 {
    /* post heading 2 */
    clear: both;
    margin-bottom: 1.25rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #bfbfbf;
}
.post-content {
    overflow-wrap: anywhere; /* prevent overflowing out of border*/
}
/* time */
.post-time {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 0.9rem;
}
/* spoiler */
.post-item div[data-embed-type="spoiler"] {
    border-left: solid 2px #017c37;
    padding-left: 0.6rem;
    overflow-wrap: anywhere; /* prevent overflowing out of border*/
}
.post-item [data-embed-type="spoiler"] {
    margin-bottom: 1rem;
}
.post-item div[data-embed-type="spoiler"] .header::before {
    display: block;
    color: #017c37;
    content: "Click to reveal **SPOILERS**";
}

.post-item span[data-embed-type="spoiler"], .post-item span[data-embed-type="spoiler"] a {
    /* color of spoiler*/
    background-color: #191919;
    color: #191919;
}
.post-item span[data-embed-type="spoiler"]:hover {
    /* color of hover */
    background-color: white;
    color: black;
}
 .post-item span[data-embed-type="spoiler"]:hover a {
     /* undo spoiler of mentions specially */
     color: #017c37;
     background-color: white;
 }
/* images */
.post-item figcaption {
    clear: both;
    display: block;
    font-family: Georgia, serif;
    font-style: oblique;
    margin: 0.625rem 0;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0 1px 0;
}

.post-item figure[data-embed-type="gallery"] {
    margin: 1.25rem 0;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
}
.post-item figure[data-embed-type="gallery"] a {
    float: left;
    width: 8%;
    margin: 0.625rem 1%;
}
.post-item figure[data-embed-type="gallery"] .image-gallery__label {
    display: none;
}
.post-item figure[data-embed-type="gallery"]::after {
    clear: both;
}
.post-item figure[data-embed-type="gallery"]::after {
    content: "";
    display: table;
}


/* video */
.post-item div[data-embed-type="video"]::before {
    display: block;
    content: " ";
    height: 0;
    width: 100%;
    padding: 56.25% 0 0 0;
}
.post-item div[data-embed-type="video"] {
    position: relative;
    width: 100%;
    max-width: inherit;
}

.post-item div[data-embed-type="video"] iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/** tables **/
.post-item table {
    margin: 1.25rem 0;
    overflow: hidden
}

.post-item table[data-max-width="true"] {
    width: 100%
}

.post-item table th,.post-item table td {
    padding: 0.5rem;
    text-align: left;
    border-collapse: collapse
}

.post-item table th {
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1)
}

.post-item table th:first-child {
    border-left: none
}

.post-item table th:last-child {
    border-right: none
}

.post-item table tr:nth-of-type(odd) td {
    background-color: rgba(0,0,0,0.15)
}


/* post images */

figure[data-size="medium"] {
    /* medium image */
    max-width: 19rem;
}
figure[data-size="small"] {
    /* small image */
    max-width: 10rem;
}


/** 
    Search Layout
**/
#search {
    background-color: white;
    border-radius: 0.3rem;
    margin: 4rem 17rem;
    padding: 3em 2em 3em 2em
}

.searchCreator, .searchQuery, .searchSubmit {
    margin: 0 auto;
    display: block;
    border-style: solid;
}
.searchCreator, .searchQuery {
    height: 2rem;
    width: 55%;
    margin-bottom: 2rem;
    background-color: rgb(242, 242, 242);
}
.searchSubmit {
    margin-top: 3rem;
    height: 2.5rem;
    background-color: #4c754c;
    color: white;
    width: 8rem;
}




@media (max-width:1024px) {
    #search {
        margin: 4rem 8rem;
        padding: 4em 2em 3em 2em
    }
}


@media (max-width:768px) {
    #search {
        margin: 4rem 2rem;
        padding: 3em 2em 3em 2em
    }
    .searchCreator, .searchQuery {
        width: 70%;
        height: 2.5rem;
    }
}


/** 
    Profile Layout
**/

.profile-nav {
    background-color: #3b3b3b;
}
.profile-nav a {
    color: white;
}
.profile-nav .nav-highlight > a {
    color: #21ba21;
}

    
/* profile images */
.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: calc(var(--profile-img-size) * 4);
}
.img-item {
    height: var(--profile-img-size);
    width: var(--profile-img-size);
}

@media (max-width: 1024px) {
    .img-container {
        grid-template-columns: 1fr 1fr 1fr;
        width: calc(var(--profile-img-size) * 3);
    }
}
@media (max-width: 768px) {
    .img-container {
        grid-template-columns: 1fr 1fr;
        width: calc(var(--profile-img-size) * 2);
    }
}

/* profile blog */
#blog-container {
    width: 80%;
    margin: auto;
}
.blog-item {
}
.blog-item a {
    color: #017c37;
    text-decoration: none;
}
.blog-header {
    font-size: 2rem;
    margin-top: 1.87rem;
    color: #105e10;
}
.blog-date {
    flex-grow: 1;
}
.blog-comments{
}

.blog-bottom {
    font-size: 1.25rem;
    border-bottom: 1px solid #bfbfbf;
    font-style: italic;
    display: flex;
}


/* main profile */

.profile-header{
    background-size: cover;
    /*height: 300px;*/
    width: 100%;
}
.profile-content {
    background: rgba(0,0,0,0.55);
    color: white;
    height: 100%;
}
.profile-info {
    width: 80%;
    margin: auto;
    padding: 3em;
    display: flex;
    gap: 2em;
}
.profile-avatar {
    /*width: 150px;*/
    padding: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
    background-color: #2c3035;
    background-image: linear-gradient(#394046,rgba(44,48,53,0));
    background-repeat: repeat-x;
    border: 1px solid #0b0d0e;
}
.avatar {
    width: var(--profile-avatar);
    border-radius: 0.3rem;
}
.profile-desc {
    min-height: var(--profile-title);
}
.profile-h {
    font-size: 3.125rem;
}
.profile-description {
    font-style: italic;
    font-size: 1.375rem;
    font-weight: bold;  
}

.activity {
    font-size: 1.4rem;
    text-transform: lowercase;
    font-style: italic;
    margin-bottom: 0.6rem;
    color: #3b3b3b;
}
.activity-time {
    color: #999999;
}


.profile-activity {
    grid-area: activity;
    background-color: white;
    /*height: 100%;*/
    padding: 1.5em;
    border-radius: 0.3rem;
    margin: 3rem 3rem;

    display: grid;
    grid-template-columns: 1fr 8em;
}

.profile-about {
    color: white;
    border-radius: 0.3rem;
    /*background-color: blue;*/
    grid-area: about;
    /*height: 100%;*/   
    margin: 3rem 9rem;
}
.profile-main {
    /*height: 100px;*/
    display: grid;
    /*grid-template-columns: 1fr 30em;*/
    grid-template-areas: "activity about";
    column-gap: 8em;
}

@media(min-width: 1024px){
    /* seperate formatting for desktop */
    .profile-activity {
        width: 33rem;
    }
}
@media (max-width: 1024px){
    .profile-main {
        grid-template-areas: 
            "about"
            "activity";
    }
    .profile-about, .profile-activity{
        margin: 2rem 14rem;
    }
    .activity{
        font-size: 1.25rem;
    }

    .profile-activity {
    grid-template-columns: 1fr 8em;
    }
    .profile-stats {
        grid-template-columns: 10em 1fr;
    }
}
@media (max-width: 768px){
    .profile-main {
        grid-template-areas: 
            "about"
            "activity";
    }
    .profile-about, .profile-activity{
        margin: 2rem 4rem;
    }
    .activity{
        font-size: 1.25rem;
    }

    .profile-activity {
    grid-template-columns: 1fr 8em;
    }
    .profile-stats {
        grid-template-columns: 10em 1fr;
    }
}



.profile-stats {
    background: #3b3b3b;
    padding: 1em;
    display: grid;
    grid-template-columns: 8em 1fr;
}
.profile-cover {
    width: 100%;
}
.profile-stat-key {
    font-weight: bold;
    font-size: 1.05em;
}
.profile-stat-value {
    font-style: italic;
}

/** profile error **/
.profile-error {
    font-size: 1.87rem;
    margin: 3em auto;
    width: 60%;
    text-align: center;
}
.profile-error  .profile-error-img {
    display: block;
    height: 15em;
    margin: 0 auto;
}


/* pagination */
.paginate {
    display: flex;
    margin: 1em auto;
    gap: 1em;
    justify-content: center;
}
.pag-item {
    /*align-self: center;*/
    flex-basis: 1.5em;
    color: #999;
    background-color: rgb(247, 247, 248);
    border-radius: 0.25rem;
    text-align: center;
}
.pag-on {
    color: black;
}
.symbol{ 
    /*width: inherit;*/
    fill: currentColor;
    height: 1em;
    width: 1em;
}

.paginate > a {
    text-decoration: none;
}

/* footer images */
.footer-img {
    height: 20px;
    width: 20px;
}


.original-thread {
    text-decoration: none;
    color: #017c37;
    margin-left: var(--side-width);
    font-weight: 500;
}

.last-post-no {
    color: #017c37 !important;
}

.thread-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(-100%);
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}
.thread-item-title:hover .thread-tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 1s; /* 2-second delay */
}

.thread-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
#sort-by > a {
    display: block;
    text-decoration: none;
    margin: auto var(--side-width);
    color: #017c37 !important;
}
.thread-item-views:not(.thread-header), .thread-item-posts:not(.thread-header) {
    text-align: right;
}
.userpost-container {
    min-height: 30rem;
    margin: auto calc(2.5*var(--side-width));
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}
.userpost-container > span:not(div:last-child) {
    border-right: 1px solid #d1d4d6;
}
.userpost-container > thread-item-views {
    min-width: 5rem;
}
.search-link a{
    color: #105e10;
    text-decoration: none;
    font-size: calc(1.3*var(--nav-font-size));
}

.error {
    width: 50rem;
    margin: 0 auto;
}
.error>div{
    text-align: center;
}
.error-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.error-content {
    font-style: italic;
    font-size: 1.5rem;
}
.error-img > img {
    margin: auto;
}
.search-highlight {
    background-color: yellow;
    font-weight: bold;
    color: gray;
    padding: 0 0.2rem;
}
.mini-heading {
     font-size: 1.7rem;
     font-weight: 600;
     color: #105e10;
     text-align: center;
 }
