@page 
@using VinePlus.Web.Pages
@model VinePlus.Web.Pages.Stats.User

@{
    Layout = "Shared/_Layout";
    ViewData[Keys.Title]     = "User Statistics";
    ViewData[Keys.Headings]  = "User statistics";
    ViewData[Keys.Highlight] = MainHighlight.Stats;
}
<div class="mini-heading">Statistics for @Model.user</div>
<div class="user-container" >
    <span class="thread-odd thread-item thread-header thread-item-title">Statistic</span>
    <span class="thread-odd thread-item thread-header thread-item-posts">Value</span>
    <span class="thread-item thread-item-title">Number of Posts</span>
    <span class="thread-item thread-item-posts">@Model.post_count</span>
    <span class="thread-odd thread-item thread-item-title">Number of Threads</span>
    <span class="thread-odd thread-item thread-item-posts">@Model.thread_count</span>
    <span class="thread-item thread-item-title"><a href="/stats/posts/@Model.user">More stats for @Model.user</a></span>
    <span class="thread-item thread-item-posts"></span>
</div>