.vs
bin/*
/VinePlus.Core/bin
/VinePlus.Core.Test/bin
/VinePlus.Core/obj
/VinePlus.Core.Test/obj
/VinePlus.Polling/bin
/VinePlus.Seed/bin/Release/net6.0
/VinePlus.Web/ApiControllers.cs
/VinePlus.Web/bin
/VinePlus.Polling/obj
/VinePlus.Seed/obj
/VinePlus.Web/obj
*.user
/VinePlus.Web/Properties
/VinePlus.Seed/bin/Debug/net6.0
