@page "{p=1}"
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Forums

@{
    Layout= "Shared/_Layout";
    ViewData["title"] = "Recent Topics";
    ViewData["highlight"] = "vine";
    ViewData["headings"] = "Recent discussions on Vine";
}

<div id="thread">
    @await Html.PartialAsync("Shared/ForumNav", Model.FNav)
    @await Html.PartialAsync("Shared/ForumTable", (Model.Threads, false))
    @await Html.PartialAsync("Shared/ForumNav", Model.FNav)
</div>