@page "{p=1}"
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Forums

@{
    Layout= "Shared/_Layout";
    ViewData["title"] = "Recent Topics";
    ViewData["highlight"] = "vine";
    ViewData["headings"] = "Recent discussions on Vine";
}

<div id="thread">
    @await Html.PartialAsync("Shared/Navigation", (Model.FNav, Util.ThreadNav))
    @await Html.PartialAsync("Shared/ForumItems", (Model.Threads, Util.GetThreadLink(false)))
    @await Html.PartialAsync("Shared/Navigation", (Model.FNav, Util.ThreadNav))
</div>