@page
@using ComicVine.API.Pages
@using Microsoft.AspNetCore.Html
@model ComicVine.API.Pages.Thread

@{
    Layout = "Shared/_Layout";
    ViewData["title"] = "titty";
    ViewData["headings"] = "Thread";
}

<div>

    @if (Model.Posts != null) {
        @foreach (var post in Model.Posts) {
            <div style="width:60%; border: 2px solid black; margin: auto; overflow: hidden">
                @Html.Raw(new HtmlString(post.Content))
            </div>
        }
    }
</div>