@page
@using VinePlus.Web.Pages
@model VinePlus.Web.Pages.Search.Index

@{
    Layout = "Shared/_Layout";
    ViewData[Keys.Title]     = "Search Archived Content";
    ViewData[Keys.Headings]  = "Search Archived Content";
    ViewData[Keys.Highlight] = MainHighlight.Search;
}

<div class="search-link">
    <a href="/search/posts">Search Posts</a>
</div>
<div class="search-link">
    <a href="/search/threads">Search Threads</a>
</div>