@page
@using ComicVine.API.Pages

@{
    Layout = "Shared/_Layout";
    ViewData[Keys.Title]     = "Search Archived Posts";
    ViewData[Keys.Headings]  = "Search Archived Posts";
    ViewData[Keys.Highlight] = MainHighlight.Search;
}

<div id="search">
    <form method="post">
        <input class="searchQuery" name="searchQuery" id="searchQuery" type="search" placeholder="Search Query (example: Saitama vs Goku)"/>
        <input class="searchCreator" name="creator" id="creator" type="search" placeholder="Posted By (example: takenstew22)"/>
        <input class="searchSubmit" type="submit"/>
    </form>
</div>