@page "{user}/{p=1}"
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Profile.Blogs

@{
    Layout = "Shared/_ProfileLayout";
    ViewData[Keys.Title]       = $"{Model.UserProfile}'s Blogs";
    ViewData[Keys.ProfileName] = Model.UserProfile;
    ViewData[Keys.Highlight]   = ProfileHighlight.Blogs;
}

@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
<div id="blog-container" class="generic-container">
@foreach (var b in Model.Entities) {
    <div class="blog-item">
        <h1 class="blog-header">
            <a href="@($"/archives/thread/{b.ThreadId}")">
                @Html.Raw(b.Blog.Text)
            </a>
        </h1>
        <div class="blog-bottom">
            <span class="blog-date">
                @b.Created.ToShortDateString()
            </span>
            <span class="blog-comments">
                @b.Comments Comments
            </span>
        </div>
    </div>
}
</div>
@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
