@page
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Search.Index

@{
    Layout = "Shared/_Layout";
    ViewData[Keys.Title]     = "Search Archived Content";
    ViewData[Keys.Headings]  = "Search archives";
    ViewData[Keys.Highlight] = MainHighlight.Search;
}

<form method="post">
    <label for="searchQuery">
        Query:
        <input name="searchQuery" id="searchQuery" type="search"/>
    </label>
    
    <label for="creator">
        Creator:
        <input name="creator" id="creator" type="search"/>
    </label>
    <input type="submit" />
</form>
