@page
@model ComicVine.API.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>redirecting to forums...</title>
</head>
<body>
<div>
    redirecting to forums...
</div>
</body>
</html>