@page "{p=1}"
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Archives.Forums

@{
    Layout = "Shared/_Layout";
    ViewData["title"] = "Archived Topics";
    ViewData["highlight"] = "arch";
    ViewData["headings"] = "Recent discussions from archive";
}

<div id="thread">
    @* @await Html.PartialAsync("Shared/ForumNav", Model.FNav) *@
    @await Html.PartialAsync("Shared/Navigation", (Model.FNav, Util.ThreadNav))
    @await Html.PartialAsync("Shared/ForumItems", (Model.Threads, Util.GetThreadLink(true)))
    @await Html.PartialAsync("Shared/Navigation", (Model.FNav, Util.ThreadNav))
    @* @await Html.PartialAsync("Shared/ForumNav", Model.FNav) *@
</div>
