@page "{id:int}/{p=1}"
@using Microsoft.AspNetCore.Html
@model ComicVine.API.Pages.Archives.Thread

@{
    Layout = "Shared/_Layout";

    ViewData["headings"] = Model.Thread_?.Thread.Text ?? "xvvv";
    ViewData["title"] = Model.Thread_?.Thread.Text ?? "titty db";
}

<div>
    @if (Model.Posts != null) {
        @foreach (var (index, post) in Model.Posts.Select((t, i) => (i,t))) {
            <div style="width:60%; border: 2px solid black; margin: auto; overflow: hidden">
                @Html.Raw(new HtmlString(post.Content))
            </div>
        }
    }
</div>