@page "{id:int}"
@using Microsoft.AspNetCore.Html
@model ComicVine.API.Pages.Archives.Thread

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Thread</title>
</head>
<body>
<div>
   
@if (Model.Posts != null) {
    @foreach (var (index, post) in Model.Posts.Select((t, i) => (i,t)) ) {
        <div style="width:60%; border: 2px solid black; margin: auto; overflow: hidden">
            @Html.Raw(new HtmlString(post.Content))
        </div>
    }
}
</div>
</body>
</html>