@page "{user}/{p=1}"
@using VinePlus.Web.Pages
@model VinePlus.Web.Pages.Profile.Images

@{
    Layout = "Shared/_ProfileLayout";
    ViewData[Keys.Title]       = $"{Model.UserName}'s Images";
    ViewData[Keys.Highlight ]  = ProfileHighlight.Images;
    ViewData[Keys.ProfileName] = Model.UserName;
}

@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
<div class="img-container">
@foreach (var img in Model.Entities) {
    <div class="img-item">
        <a href="@img.original" target="_blank">
            <img class="img-img" src="@img.gallery" alt="A user's image"/>
        </a>
    </div>
}
</div>
@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
