<footer class="layout-footer">
    <div class="footer-img">
        <a href="https://github.com/foderking/VinePlus">
            <img src="https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg" alt="github logo" />
        </a>
    </div>
 @*    <div class="footer-img">
        <a href="/api/index.html">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAcxwnyZjabtdxNKlDnbzcwoDwkYsrqF4GVWIlH3JVip1Tp-PIkHjB3pwcVerqfgWw-hE&usqp=CAU" alt="github logo" />
        </a>
    </div> *@
</footer>