@page "{p=1}"
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Archives.Forums

@{
    Layout = "Shared/_Layout";
    ViewData[Keys.Title]     = "Archived Topics";
    ViewData[Keys.Headings]  = "Recent discussions from archive";
    ViewData[Keys.Highlight] = MainHighlight.Archives;
}

<div id="thread">
    @await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
    @await Html.PartialAsync("Shared/Components/ForumItems", (Model.Entities , Model.GetThreadLink()))
    @await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
</div>
<div id="sort-by">
    <a href="/archives/forums/?sort_by=posts">Sort by: Posts</a>
    <a href="/archives/forums/?sort_by=views">Sort by: Views</a>
</div>
